:root{
  --bg: #162302;
  --main: #0f8209;
  --text: #cdf3ed;
  --services: #589cf7;
  --bottom-bg: #4fa24a;
  --bottom-text: #16427b;
  --lower-bg: #1c5619


}
body{
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  

}
main{
  flex-grow: 1;
}
img{
  max-width: 100%;
}
/* Use your head*/

button{
  background-color: var(--main);
  border: none;
  border-radius: 1rem;
  text-shadow: 0 0 1px var(--bg);
  font-weight: 500;
  transition: filter 400ms linear;
  font: var(--bg);
}
button:hover{
  cursor: pointer;
  filter: lighten(1.1);
}
h1{
  font-size: 30px;
}

.active-link{
  text-decoration: underline;
  color: var(--text);
  font-weight: bold;
}
/* Body Language */
.services{
  color: var(--services);
}

.left{
  max-width: 30%;
  margin: 8rem;
  padding: 0 10rem 5rem 0;
}
.right{
  max-width: 70%;
  margin: 5rem;
  padding: 0 9rem 5rem 0;
}
/* Bottom of the Barrel*/
.bottom{
  background-color: var(--bottom-bg);
  text-decoration: underline;
  text-align: center;
  color: var(--bottom-text);
  width: 100%;
  padding: 3rem 3rem
  
}
/* The actual bottom*/
.lower{
background-color: var(--lower-bg);
text-align: center;
padding:  4rem;
}
h2{
  font-size: 30px;
}



/* General bits and pieces*/

.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-evenly{
  justify-content: space-evenly;
}
  .justify-content-around{
  justify-content: space-around;
  }
.logo{
  margin: .5rem .75rem;
}
.gap{
  gap: 1rem;
}
